<h2>Welcome to The Next Destination : Turkey</h2>

<p>On the border between Europe and Asia, Turkey opens its doors to a mysterious world of inexhaustible riches. From the Cappadocia region to Bosporus, from the Black Sea to Anatolia, Turkey offers an immense variety of cultures and landscapes to its visitors. Istanbul, capital of the Ottoman and Byzantine empires, is waiting for you at the heart of the fascinating history of Turkey. The canyons and the open-air museums of the Cappadocia region won't disappoint nature lovers, while the enormous beaches of fine sand of the almost island community of Bodrun will please people who love to relax. Go and discover sites like the Turkish Hittites, observe a sunset on the river and capture the unique atmosphere of Ottoman culture. Well-known for their kindness and generosity, the Turkish will welcome you with open arms for a total immersion in a country at the crossroads between Asia and Europe.</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Sites To Go</h3>
  </div>
  <div class="panel-body" id="list_sites">
    {{#each this}}
     <li>
      <p> {{ name }} </p>
     </li>
     {{/each}}
  </div>
</div>