.article_img img {
  height: 200px;
  width: 100%;
}

.jumbotron {
  background-image: url("../img/Istanbul.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.article_img p {
  position:relative;
  bottom:30px;
  left:0px;
  visibility:hidden;
}


.img_name {
  color:white;
}